.shimmer-container {
  display: flex;
  justify-content: center;
}

.shimmer-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 100px;
}

.shimmer-item {
  width: 300px; /* Adjust width as needed */
  border: 1px solid #ccc; /* Optional: Add border for each item */
}

.shimmer-text {
  margin-top: 10px; /* Add margin between image and text */
}
